@page "/expensesitems"

@using ExpensesBook.Model
@inject ExpensesData Data
@inject Calculator Calc
@inject IJSRuntime JSRuntime

<h3>Текущие расходы</h3>

<table class="table table-striped" style="font-size:small">
    <thead>
        <tr>
            <td colspan="6">
                <div class="form-row">
                    <div class="offset-lg-4 col-lg-4 col-sm-12">
                        <select class="form-control" @onchange="UpdateSelectedMonth">
                            <option value="empty" selected="selected">Не выбрано</option>
                            @foreach (var (year, month, monthName) in _allMonths)
                            {
                                <option value="@($"{year}-{month}")" selected="@(year == _year && month == _month)">@($"{year} {monthName}")</option>
                            }
                        </select>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <th>Дата</th>
            <th>Потрачено</th>
            <th>Описание расходов</th>
            <th>Категория расходов</th>
            <th>Группа расходов</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var (exp, category, group) in CurrentExpenses)
        {
            <tr>
                @if (selectedItem?.Id == exp.Id.ToString())
                {
                    <td colspan="6">
                        <EditForm Model="selectedItem" OnValidSubmit="UpdateItem">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-row">
                                <div class="col-lg-3 col-sm-6 mb-2">
                                    <InputDate class="form-control" @bind-Value="selectedItem.Date" />
                                </div>
                                <div class="col-lg-2 col-sm-6 mb-2">
                                    <InputNumber class="form-control" step="0.01" @bind-Value="selectedItem.Amounth" />
                                </div>
                                <div class="col-lg-4 col-sm-12 mb-2">
                                    <InputText class="form-control" @bind-Value="selectedItem.Description" />                                    
                                </div>
                                <div class="col-lg-3 col-sm-6 mb-2">
                                    <InputSelect class="form-control" @bind-Value="selectedItem.CategoryId">
                                        @foreach (var c in Data.Categories)
                                                {
                                            <option value="@c.Id.ToString()">@c.Name</option>
                                                }
                                    </InputSelect>
                                </div>
                                <div class="col-lg-4 col-sm-6 mb-2">
                                    <InputSelect class="form-control" @bind-Value="selectedItem.GroupId">
                                        <option value="">группа не выбрана</option>
                                        @foreach (var g in Data.Groups)
                                                {
                                            <option value="@g.Id.ToString()">@g.Name</option>
                                                }
                                    </InputSelect>
                                </div>
                                <div class="offset-lg-5 col-lg-3 col-sm-12 mb-2">
                                    <div style="float:right">
                                        <button type="submit" class="btn btn-sm btn-success" title="Сохранить"><span class="oi oi-check" aria-hidden="true"></span></button>
                                        <button @onclick="DeleteItem" class="btn btn-sm btn-danger" title="Удалить"><span class="oi oi-trash" aria-hidden="true"></span></button>
                                        <button @onclick="CancelEdit" class="btn btn-sm btn-secondary" title="Закрыть"><span class="oi oi-x" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </td>
                }
                else
                {
                    <td>@exp.Date.ToString("yyyy.MM.dd")</td>
                    <td>@exp.Amounth.ToString("N2")</td>
                    <td>@exp.Description</td>
                    <td>@category</td>
                    <td>@group</td>
                    <td><button @onclick="@(_ => EditItem(exp))" style="float:right" class="btn btn-sm btn-secondary" title="Редактировать"><span class="oi oi-pencil" aria-hidden="true"></span></button></td>
                }
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <i>Всего потрачено: @AllExpensesSum грн.</i>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <EditForm Model="newExpense" OnValidSubmit="AddNewExpenseItem">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-row">
                        <div class="col-lg-3 col-sm-6 mb-2">
                            <InputDate class="form-control" @bind-Value="newExpense.Date" />
                        </div>
                        <div class="col-lg-2 col-sm-6 mb-2">
                            <InputNumber class="form-control" step="0.01" @bind-Value="newExpense.Amounth" />
                        </div>
                        <div class="col-lg-4 col-sm-12 mb-2">
                            <InputText class="form-control" @bind-Value="newExpense.Description" />
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-2">
                            <InputSelect class="form-control" @bind-Value="newExpense.CategoryId">
                                <option value="@Guid.Empty.ToString()"></option>
                                @foreach (var c in Data.Categories)
                                {
                                    <option value="@c.Id.ToString()">@c.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col-lg-4 col-sm-6 mb-2">
                            <InputSelect class="form-control" @bind-Value="newExpense.GroupId">
                                <option value="">Группа не выбрана</option>
                                @foreach (var g in Data.Groups)
                                {
                                    <option value="@g.Id.ToString()">@g.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="offset-lg-6 col-lg-2 col-sm-12 mb-2">
                            <button type="submit" class="btn btn-success" style="float:right">Добавить</button>
                        </div>
                    </div>
                </EditForm>
            </td>
        </tr>
    </tfoot>
</table>

@code {

    private int _year = DateTimeOffset.Now.Year;
    private int _month = DateTimeOffset.Now.Month;
    private List<(int year, int month, string monthName)> _allMonths;

    protected override void OnInitialized()
    {
        _allMonths = Calc.GetMonths();

        if(!_allMonths.Any(m => m.year == _year && m.month == _month))
        {
            _year = 0;
            _month = 0;
        }
    }

    private void UpdateSelectedMonth(ChangeEventArgs e)
    {
        if (e.Value.ToString() != "empty")
        {
            var values = e.Value.ToString().Split("-");
            (_year, _month) = (int.Parse(values[0]), int.Parse(values[1]));
        }
        else
        {
            _year = 0;
            _month = 0;
        }

        StateHasChanged();
    }

    private ExpenseItemDto newExpense = new ExpenseItemDto();

    private async Task AddNewExpenseItem()
    {
        if (Data.AddExpenseItem(newExpense))
        {
            newExpense = new ExpenseItemDto();
            await JSRuntime.InvokeVoidAsync("setUnsaved");
        }

        UpdateMonthsList();
    }

    private List<(ExpenseItem item, string category, string group)> CurrentExpenses => Calc.GetMonthExpenses(_year, _month);
    private double AllExpensesSum => CurrentExpenses.Select(c => c.item.Amounth).DefaultIfEmpty().Sum();

    private ExpenseItemDto selectedItem;

    private void EditItem(ExpenseItem item)
    {
        selectedItem = new ExpenseItemDto
        {
            Id = item.Id.ToString(),
            Description = item.Description,
            Date = item.Date,
            Amounth = item.Amounth,
            CategoryId = item.CategoryId.ToString(),
            GroupId = item.GroupId?.ToString()
        };
    }

    private async Task UpdateItem()
    {
        if (selectedItem == null) return;
        if (Data.UpdateExpenseItem(selectedItem))
        {
            selectedItem = null;
            await JSRuntime.InvokeVoidAsync("setUnsaved");
        }

        UpdateMonthsList();
    }

    public async Task DeleteItem()
    {
        if (selectedItem == null) return;

        bool confirmed = await JSRuntime.InvokeAsync<bool>("window.confirm", "Удалить запись?");
        if (!confirmed) return;

        if (Data.DeleteExpenseItem(selectedItem.Id))
        {
            selectedItem = null;
            await JSRuntime.InvokeVoidAsync("setUnsaved");
        }

        UpdateMonthsList();
    }

    private void CancelEdit()
    {
        selectedItem = null;
    }

    private void UpdateMonthsList()
    {
        _allMonths = Calc.GetMonths();
        if(!_allMonths.Any(m => m.year == _year && m.month == _month))
        {
            _year = 0;
            _month = 0;
            return;
        }

        if(_year == 0)
        {
            int y0 = DateTimeOffset.Now.Year;
            int m0 = DateTimeOffset.Now.Month;

            if (_allMonths.Any(m => m.year == y0 && m.month == m0))
            {
                _year = y0;
                _month = m0;
            }

        }
    }
}
