@page "/inyear"

@using ExpensesBook.Model
@inject ExpensesData Data
@inject Calculator Calc

<h3>Расходы за год</h3>
<hr />

@if (!Data.Expenses.Any())
{
    <h2>Нет данных</h2> }
else
{
    <div class="form-row">
        <div class="offset-lg-3 col-lg-2 col-sm-3 mb-2">
            <select class="form-control" @bind="_year">
                @foreach (int y in _allYears)
                {
                    <option value="@y">@y</option>
                }
            </select>
        </div>
        <div class="col-lg-2 col-sm-7 mb-2">
            <select id="viewType" class="form-control" @bind="_viewType">
                <option value="@ViewType.ByGroup">По группe</option>
                <option value="@ViewType.ByCategory">По категории</option>
                <option value="@ViewType.Limits">Лимиты года</option>
            </select>
        </div>
        <div class="col-lg-2 col-sm-2 mb-2">
            <button type="button" class="btn btn-info" @onclick="ShowTable">Показать</button>
        </div>
    </div>

    @if (_yearLimits != null)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Период</th>
                    <th>Описание</th>
                    <th>Лимит</th>
                    <th>Расходы</th>
                    <th>Остаток</th>
                    <th>Превышение</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var calcLimit in _yearLimits)
                {

                    <tr style="@calcLimit.RowColorStyle">
                        <td>@calcLimit.DatesRange</td>
                        <td>@calcLimit.Description</td>
                        <td>@calcLimit.LimitAmounthStr</td>
                        <td>@calcLimit.SpentStr</td>
                        <td>@calcLimit.LeftStr</td>
                        <td>@calcLimit.DeficiteStr</td>
                    </tr>
                }
            </tbody>
        </table>}

    @if (_yearPivotTable != null)
    {
        <table class="table table-striped small">
            <thead>
                <tr>
                    <th>@( _yearPivotTable.ViewType switch { ViewType.ByGroup => "Группа", ViewType.ByCategory => "Категория", _ => "" })</th>
                    @foreach (var m in _yearPivotTable.MonthsNames)
                    {
                        <th colspan="2" class="text-center">@m</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var r in _yearPivotTable.Rows)
                {
                    <tr>
                        <th>@r.rowName</th>
                        @foreach (var c in r.Item2)
                        {
                            <td class="text-center">@c.value</td>
                            <td class="text-center" style="color:darkgrey"><i>@c.percent</i></td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot style="background-color:lightgoldenrodyellow">
                <tr style="color:darkblue">
                    <th>Всего</th>
                    @foreach (var m in _yearPivotTable.MonthsTotals)
                    {
                        <td class="text-center">@m.total</td>
                        <td class="text-center" style="color:darkgrey"><i>@m.percent</i></td>
                    }
                </tr>
                <tr style="color:darkred">
                    <th>Всего за год</th>
                    <td class="text-center">@_yearPivotTable.TotalStr</td>
                    <td colspan="@(_yearPivotTable.MonthsTotals.Count*2-1)"></td>
                </tr>
            </tfoot>
        </table>
    }
}

@code{ private int _year;
    private ViewType _viewType = ViewType.ByGroup;
    private List<int> _allYears;

    private List<CalculatedLimit> _yearLimits;
    private YearPivotTable _yearPivotTable;

    private void ShowTable()
    {
        switch (_viewType)
        {
            case ViewType.Limits:
                _yearPivotTable = null;
                _yearLimits = Calc.GetYearLimits(_year, DateTimeOffset.Now);
                break;
            case ViewType.ByCategory:
                _yearPivotTable = Calc.GetYearExpensesByCategories(_year);
                _yearPivotTable.ViewType = ViewType.ByCategory;
                _yearLimits = null;
                break;
            case ViewType.ByGroup:
                _yearPivotTable = Calc.GetYearExpensesByGroup(_year);
                _yearPivotTable.ViewType = ViewType.ByGroup;
                _yearLimits = null;
                break;
            default:
                _yearPivotTable = null;
                _yearLimits = null;
                break;
        }
    }

    protected override void OnInitialized()
    {
        _allYears = Calc.GetAllYears();
        var y = DateTimeOffset.Now.Year;
        if (_allYears.Contains(y))
        {
            _year = y;
        }
    }
}