@page "/limits"

@using ExpensesBook.Model
@inject ExpensesData Data
@inject Calculator Calc
@inject IJSRuntime JSRuntime

<h3>Лимиты</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Период</th>
            <th>Описание</th>
            <th>Лимит</th>
            <th>Расходы</th>
            <th>Остаток</th>
            <th>Превышение</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var calcLimit in AllLimits)
        {
            @if (selectedLimit?.Id != calcLimit.LimitId.ToString())
            {
                <tr style="@calcLimit.RowColorStyle">
                    <td>@calcLimit.DatesRange</td>
                    <td>@calcLimit.Description</td>
                    <td>@calcLimit.LimitAmounthStr</td>
                    <td>@calcLimit.SpentStr</td>
                    <td>@calcLimit.LeftStr</td>
                    <td>@calcLimit.DeficiteStr</td>
                    <td><button @onclick="@(_ => EditLimit(calcLimit))" style="float:right" class="btn btn-sm btn-secondary" title="Редактировать"><span class="oi oi-pencil" aria-hidden="true"></span></button></td>
                </tr>
            }
            else
            {
                <tr>
                    <td colspan="7">

                        <EditForm Model="selectedLimit" OnValidSubmit="UpdateLimit">
                            <DataAnnotationsValidator />
                            <ValidationSummary />

                            <div class="form-row">
                                <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                                    <InputDate class="form-control" @bind-Value="selectedLimit.StartIncluded" />
                                </div>
                                <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                                    <InputDate class="form-control" @bind-Value="selectedLimit.EndExcluded" />
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                                    <InputText class="form-control" @bind-Value="selectedLimit.Description" />
                                </div>
                                <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
                                    <InputNumber class="form-control" step="0.01" @bind-Value="selectedLimit.LimitAmounth" />
                                </div>
                                <div class="col-lg-2 col-md-8 col-sm-6 mb-2">
                                    <div style="float:right">
                                        <button type="submit" class="btn btn-sm btn-success" title="Сохранить"><span class="oi oi-check" aria-hidden="true"></span></button>
                                        <button @onclick="DeleteLimit" class="btn btn-sm btn-danger" title="Удалить"><span class="oi oi-trash" aria-hidden="true"></span></button>
                                        <button @onclick="CancelEdit" class="btn btn-sm btn-secondary" title="Закрыть"><span class="oi oi-x" aria-hidden="true"></span></button>
                                    </div>
                                </div>
                            </div>
                        </EditForm>
                    </td>
                </tr>
            }

        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">
                <EditForm Model="newLimit" OnValidSubmit="AddNewLimit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-row">
                        <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                            <InputDate class="form-control" @bind-Value="newLimit.StartIncluded" />
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 mb-2">
                            <InputDate class="form-control" @bind-Value="newLimit.EndExcluded" />
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                            <InputText class="form-control" @bind-Value="newLimit.Description" />
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 mb-2">
                            <InputNumber class="form-control" step="0.01" @bind-Value="newLimit.LimitAmounth" />
                        </div>
                        <div class="col-lg-2 col-md-8 col-sm-6 mb-2">
                            <button type="submit" class="btn btn-success" style="float:right">Добавить</button>
                        </div>
                    </div>
                </EditForm>
            </td>
        </tr>
    </tfoot>
</table>

<p style="color: blue">*Лимиты с актуальным временным диапазоном</p>
<p style="color: red">*Превышенные лимиты</p>
<p style="color: indianred">*Превышенные лимиты с неактуальным временным диапазоном</p>

@code {

    private List<CalculatedLimit> AllLimits => Calc.GetCalculatedLimits(DateTimeOffset.Now);
    private LimitDto newLimit = new LimitDto();

    private async Task AddNewLimit()
    {
        if (Data.AddLimit(newLimit))
        {
            newLimit = new LimitDto();
            await JSRuntime.InvokeVoidAsync("setUnsaved");
        }
    }

    private LimitDto selectedLimit;

    private void EditLimit(CalculatedLimit limit)
    {
        selectedLimit = new LimitDto
        {
            Id = limit.LimitId.ToString(),
            Description = limit.Description,
            StartIncluded = limit.StartIncluded,
            EndExcluded = limit.EndExcluded,
            LimitAmounth = limit.LimitAmounth
        };
    }

    private async Task UpdateLimit()
    {
        if (selectedLimit == null) return;
        if (Data.UpdateLimit(selectedLimit))
        {
            selectedLimit = null;
            await JSRuntime.InvokeVoidAsync("setUnsaved");
        }
    }

    public async Task DeleteLimit()
    {
        if (selectedLimit == null) return;

        bool confirmed = await JSRuntime.InvokeAsync<bool>("window.confirm", "Удалить лимит?");
        if (!confirmed) return;

        if (Data.DeleteLimit(selectedLimit.Id))
        {
            selectedLimit = null;
            await JSRuntime.InvokeVoidAsync("setUnsaved");
        }
    }

    private void CancelEdit()
    {
        selectedLimit = null;
    }

}
